<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Telebid RegForm</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>

    <header>
        <img src="../static/images/logo.png" alt="" id="logo">
        <div>
            <a id="login">Login</a>
            <a id="register">Register</a>
        </div>
    </header>

    <div id="home-page" class="home">
        <h1>TelebidPro Unofficial website</h1>

        <div id="buttons">
            <button id="login-opt">Login</button>
            <button id="register-opt">Register</button>
        </div>
    </div>
    <script src="../static/scripts/HomePage.js "></script>
</body>
</html>